<ul>
    <h4>基础</h4>
    <li>
        <a routerLink="/component001">template字符模板</a>
    </li>
    <li>
        <a routerLink="/component002">基于class的类型验证</a>
    </li>
    <li>
        <a routerLink="/component003">双向绑定</a>
    </li>
    <li>
        <a routerLink="/component004">ngFor 来显示列表</a>
    </li>
    <li>
        <a routerLink="/component005">styles字符模板</a>
    </li>
    <li>
        <a routerLink="/component006">处理点击事件</a>
    </li>
    <li>
        <a routerLink="/component007">使用 ngIf 隐藏空的详情</a>
    </li>
    <li>
        <a routerLink="/component008">[class.selected]="hero === selectedHero" 来控制当前选中</a>
    </li>
    <li>
        <a routerLink="/component009">Dom属性绑定</a>
    </li>
    <li>
        <a routerLink="/component010">事件绑定</a>
    </li>
    <li>
        <a routerLink="/component011">HTML属性绑定</a>
    </li>
    <li>
        <a routerLink="/component012">双向绑定:自定义实现、ngModel的实现</a>
    </li>
    <li>
        <a routerLink="/component013">innerHTML指令</a>
    </li>
    <li>
        <a routerLink="/component014">杂七杂八的练习</a>
    </li>
    <li>
        <a routerLink="/component015">todolist</a>
    </li>
</ul>

<ul>
    <h4>router</h4>
    <li>
        <a routerLink="/router001">location.back()</a>
    </li>
    <li>
        <a routerLink="/router002">routerLink的简单用法</a>
    </li>
    <li>
        <a routerLink="/router003">在路由时传递数据</a>
    </li>
    <li>
        <a [routerLink]="['/router004']" [queryParams]="{id: 888888}">去router004查看结果</a>
    </li>
    <li>
        <a [routerLink]="['/router005', 88]">去router005查看结果</a>
    </li>
    <li>
        <a [routerLink]="['/router006', 666]">去router006查看结果</a>
    </li>
    <li>
        <a [routerLink]="['/router007']" [queryParams]="{id: 888, title: 'xiaobao'}">去router007查看结果</a>
    </li>
    <li>
        <p (click)="toRouter007()">去router007，这个带有参数 queryParams</p>
    </li>
    <li>
        <a [routerLink]="['/redirectToRouter001']">去redirectToRouter001，会重定向到/router001</a>
    </li>
    <li>
        <a [routerLink]="['/router009']">子路由</a>
    </li>
    <li>
        <a [routerLink]="['/router010']">辅助路由（注意观察url上参数的变化）</a>
    </li>
    <li>
        <a [routerLink]="['/router011']">路由守卫（进入）：canActivate</a>
    </li>
    <li>
        <a [routerLink]="['/router012']">路由守卫（退出）：canDeactivate</a>
    </li>
    <li>
        <a [routerLink]="['/router013', 1]">路由守卫（在进入组件前获取数据）：resolve</a>
    </li>
    <li>
        <a [routerLink]="['/router013', 8]">路由守卫（在进入组件前获取数据）：resolve</a>
    </li>
</ul>

<ul>
    <h4>组件间通信</h4>
    <li>
        <a routerLink="/communication001">输入属性</a>
    </li>
    <li>
        <a routerLink="/communication002">输出属性</a>
    </li>
    <li>
        <a routerLink="/communication003">中间人模式</a>
    </li>
</ul>

<ul>
    <h4>生命周期</h4>
    <li>
        <a routerLink="/lifecycle001">生命周期</a>
    </li>
    <li>
        <a routerLink="/lifecycle002">ngOnChanges</a>
    </li>
    <li>
        <a routerLink="/lifecycle003">ngDoCheck</a>
    </li>
    <li>
        <a routerLink="/lifecycle004">view钩子：ngAfterViewInit、ngAfterViewChecked、ngOnDestroy</a>
    </li>
    <li>
        <a routerLink="/lifecycle005">ngContent指令</a>
    </li>
    <li>
        <a routerLink="/lifecycle006">ngAfterContentInit、ngAfterContentChecked、ngAfterViewInit、ngOnDestroy</a>
    </li>
</ul>

<ul>
    <h4>Service</h4>
    <li>
        <a routerLink="/service001">service todolist</a>
    </li>
    <li>
        <a routerLink="/service002">service002</a>
    </li>
</ul>

<ul>
    <h4>Form</h4>
    <li>
        <a routerLink="/form001">模板式表单</a>
    </li>
    <li>
        <a routerLink="/form002">响应式表单</a>
    </li>
    <li>
        <a routerLink="/form003">FormBuilder</a>
    </li>
    <li>
        <a routerLink="/form004">FormBuilder表单校验、状态字段</a>
    </li>
    <li>
        <a routerLink="/form005">模板式表单验证</a>
    </li>
</ul>

<ul>
    <h4>HTTP</h4>
    <li>
        <a routerLink="/http000">体验 http.get</a>
    </li>
    <li>
        <a routerLink="/http001">http.get 请求cnode API</a>
    </li>
    <li>
        <a routerLink="/http002">async方式处理http</a>
    </li>
    <li>
        <a routerLink="/http003">HttpHeaders</a>
    </li>
    <li>
        <a routerLink="/http004">WebSocket的简单实例</a>
    </li>
    <li>
        <a routerLink="/http005">http post jsonp (不使用rxjs)</a>
    </li>
    <li>
        <a routerLink="/http006">http  post jsonp (使用rxjs)</a>
    </li>
</ul>

<ul>
    <h4>rxjs</h4>
    <li>
        <a routerLink="/observable001">Observable的简单使用</a>
    </li>
</ul>

<ul>
    <h4>管道</h4>
    <li>
        <a routerLink="/pipe001">管道基础</a>
    </li>
</ul>

<br>
<br>
<br>
<br>