<ul>
    <h4>HTTP</h4>
    <li>
        <a routerLink="/http001">http.get</a>
    </li>
</ul>

<ul>
    <h4>component</h4>
    <li>
        <a routerLink="/component001">template字符模板</a>
    </li>
    <li>
        <a routerLink="/component002">基于class的类型验证</a>
    </li>
    <li>
        <a routerLink="/component003">双向绑定</a>
    </li>
    <li>
        <a routerLink="/component004">ngFor 来显示列表</a>
    </li>
    <li>
        <a routerLink="/component005">styles字符模板</a>
    </li>
    <li>
        <a routerLink="/component006">处理点击事件</a>
    </li>
    <li>
        <a routerLink="/component007">使用 ngIf 隐藏空的详情</a>
    </li>
    <li>
        <a routerLink="/component008">[class.selected]="hero === selectedHero" 来控制当前选中</a>
    </li>
</ul>

<ul>
    <h4>router</h4>
    <li>
        <a routerLink="/router001">location.back()</a>
    </li>
</ul>