<h1>
  TypeScript 简单使用
</h1>



{{title}}

<br>
<br> {{msg}}

<br>
<br> {{msg1}}

<br>
<br> {{username}}

<br> {{student}}

<br>
<br>
<!--绑定属性-->

<div id="{{id}}">这是一个div 调试工具看一下我的属性</div>

<div [title]="msg">鼠标瞄上去看一下</div>

<!--绑定后台的html数据-->

<br>
<br> {{h}}

<br>
<br>

<span [innerHTML]="h"></span>

<br>
<div [innerHTML]="h"></div>

<br>
<br>

<!--获取对象-->
{{obj.name}}
<br>



<!--循环数据-->
<br>
<br>

<ul>
  <li *ngFor="let item of list">
    {{item}}
  </li>
</ul>

<!--循环数据获取索引值-->
<br>
<br>

<ul>
  <li *ngFor="let item of list2; let key=index">

    {{item}}---{{key}}
  </li>
</ul>

<br>
<br>

<ul>
  <li *ngFor="let item of list3; let key=index">
    {{item.title}}---{{key}}
  </li>
</ul>

<br>
<br>

<ul>
  <li *ngFor="let item of list4; let key=index">
    {{item.catename}}---{{key}}
    <ol>
      <li *ngFor="let car of item.list">
        -- {{car.title}}
      </li>
    </ol>
  </li>
</ul>

<br>
<br>

<!-- <ul>
  <li template="ngFor let item of list; let key=index">
    {{item}}------------{{key}}
  </li>
</ul> -->

