<h1>
  HTML属性绑定
</h1>



<table border="1">
  <tr>
    <td [attr.colspan]="colspanSize">这是colspan的</td>
  </tr>
  <tr>
    <td>88</td>
    <td>ShenBao</td>
  </tr>
</table>

<br>

<input type="text" [attr.value]="inputVal">

<div class="a">默认的</div>

<br>

<div [class]="divClass">[class]="divClass"的使用</div>

<div class="a" [class.c]="isC">[class.c]="isC的使用</div>

<div [ngClass]="ngClass">[ngClass]="ngClass"的使用</div>

<div [style.color]="'orchid'">[style.color]="'orchid'"</div>

<div [style.color]="isDev ? 'blue' : 'hotpink'">[style.color]="isDev ? 'blue' : 'hotpink'"</div>

<p [style.font-size.px]='10'>[style.font-size.px]='10'</p>

<p [ngStyle]="ngStyle">ngStyle</p>